/*

.container {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 2px solid #f5f7f8;
  border-radius: 17rem;
  background-color: #f5f7f8;
}

.mid-col {
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

.action {
  border: 3px solid black;
  border-radius: 0.2rem;
  background-color: #ff5b22;
  color: black;
  width: 11rem;
  height: 2.8rem;
  padding: 0.3rem;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.cta {
  margin-top: 2rem;
  width: 11rem;
  padding: 0.3rem;
  font-weight: bold;
  font-size: larger;
} */

.container {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 2px solid #ecf0f1; /* Border color */
  border-radius: 15px;
  background-color: #ecf0f1;
  padding: 2rem; /* Adjust as needed */
}

.mid-col {
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

.action {
  border: 3px solid #2ecc71; /* Border color */
  border-radius: 5px;
  background-color: #2ecc71;
  color: #ecf0f1;
  width: 11rem;
  height: 2.8rem;
  padding: 0.3rem;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.cta {
  margin-top: 2rem;
  width: 11rem;
  padding: 0.3rem;
  font-weight: bold;
  font-size: 1.2rem; /* Adjust as needed */
}
