@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Roboto", sans-serif; /* Choose a clean and modern font-family */
  background-color: #f0f0f0;
}

code {
  font-family: "Courier New", monospace;
}

/* Add any global styles as needed */
